---
layout: default
---

<div class="home">
 {% if site.theme_settings.header_text %}
 <div class="call-out"
 style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
   {{ site.theme_settings.header_text }}
 </div>
 {% endif %}

 <article>
   <section class="post-content">
     <p>This is a collection of the projects I have worked on.</p>
     <!-- <h2>Professional projects</h2> -->
     <h2>College projects</h2>
     <ul>
       <li>Kaldi ASR system for FreeLing project: automatic speech recognition system for FreeLing. <a href="https://github.com/TALP-UPC/FreeLing">GitHub link</a></li>
       <li>Visualization tool for the Lisp protocol of OpenDaylight. <a href="https://github.com/Pimenton/ODL">GitHub link</a></li>
       <li>Star Wars Runner: a not-yet-finished Star Wars runner videogame. <a href="https://github.com/pausabe/RunnerStarWars">GitHub link</a></li>
       <li>Simple animator: a simple language to create animated SVG. <a href="https://github.com/guillemcordoba/Practica-CL">GitHub link</a></li>
     </ul>
     <h2>Other projects</h2>
     <h4>Android apps</h4>
     <ul>
       <li>Horse Jump. <a href="https://play.google.com/store/apps/details?id=com.thingol.horsejump">Play Store link</a></li>
       <li>Bomb disposer. <a href="https://play.google.com/store/apps/details?id=com.thingol.bombsimulator">Play Store link</a></li>
     </ul>
   </section>
 </article>

 <!-- <div class="posts">
   {% for post in paginator.posts %}
   <div class="post-teaser">
     <header>
       <h1>
         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
           {{ post.title }}
         </a>
       </h1>
       <p class="meta">
         {{ post.date | date: "%B %-d, %Y" }}
       </p>
     </header>
     <div class="excerpt">
       {{ post.excerpt }}
       <a class="button" href="{{ post.url | prepend: site.baseurl }}">
         {{ site.theme_settings.str_continue_reading }}
       </a>
     </div>
   </div>
   {% endfor %}
 </div> -->


 {% if paginator.total_pages > 1 %}
 <div class="pagination">
   {% if paginator.previous_page %}
   <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
     <i class="fa fa-chevron-left"></i>
     {{ site.theme_settings.str_prev }}
   </a>
   {% endif %}
   {% if paginator.next_page %}
   <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
     {{ site.theme_settings.str_next }}
     <i class="fa fa-chevron-right"></i>
   </a>
   {% endif %}
 </div>
 {% endif %}
</div>
